@import url("https://fonts.googleapis.com/css?family=Days+One");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Fredoka+One|Signika|Yantramanav");

* { box-sizing: border-box; }

html {
  background-color: #5f9ab7;
  margin: auto 0
}

body {
  /* overflow: hidden; */
}

.api-input {
  width: 600px;
  height: 80px;
  border-radius: 100px;
  outline: none;
  text-align: center;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
}

.welcome-phrase {
  color: #FFF;
  font-family: 'Signika', sans-serif;
}

.sub-cap {
  margin-top: -0.1em;
}

#logo {
  font-size: 6em;
  margin: 0em 0.2em;
}

.welcome-page {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  /* animation: show-welcome 1s; */
}

@keyframes show-welcome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.down-arrow {
  background: none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  color: #ffffff90;
  border-color: #ffffff90;
  outline: none;
  -webkit-user-select: none;
  animation: pulse 1.5s infinite;
}

.up-arrow {
  background: none;
  font-size: 25px;
  text-align: center;
  padding-top: 8.5px;
  margin-top: -0.4em;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  color: #ffffff90;
  border-color: #ffffff90;
  outline: none;
  -webkit-user-select: none;
  animation: pulse 1.5s infinite;
}

.how-it-works {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fbfcfb;
  animation: pulse 1.5s infinite;
  z-index: 100;
}

.back-to-home {
  margin-top: 16.3em;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #ffffff90;
  animation: pulse 1.5s infinite;
  z-index: 100;
}

.about-text {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Signika', sans-serif;
}

@keyframes pulse {
  0% {
    opacity: 0.45;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.45;
  }
}

.flickity {
  margin: 46.8em 0;
  padding: 12.5em 0 0 0 ;
  height: 41.8em;
  background-color: #292c2fd9;
}

.submit-btn {
  width: 300px;
  height: 40px;
  margin: 30px;
  border-radius: 80px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 20px;
  border: none;
  -webkit-user-select: none;
  color: #4f5358e8;
  font-family: 'Signika', sans-serif;
}


.submit-btn:hover {
  transform: translateY(-2px);
  -webkit-user-select: none;
}

.submit-btn:active {
  transform: translateY(-2px);
  -webkit-user-select: none;
}

.nav-bar {
  position: relative;
  background-color: #292c2fd9;
  height: 50px;
  z-index: 1;
  -webkit-user-select: none;
}

.nav-links {
  color: #eeeeec;
  font-weight: bold;
  font-size: 17px;
  margin: 15px;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  -webkit-user-select: none;
}

.nav-links:hover {
  color: #ffffff70;
  font-size: 17px;
  margin: 15px;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  -webkit-user-select: none;
}

.nav-spacing {
  padding-top: 1%;
  -webkit-user-select: none;
}

.customize-page {
  position: absolute;
  width: 1000px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.customize-text {
  color: #fdfdfd;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
}

input[type='checkbox'] {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
}

input[type='checkbox'] + label {
  background: white;
  font-size: 20px;
  padding: 11px;
  width: 25%;
  margin: 5px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  flex-wrap: wrap;
  z-index: 100;
  -webkit-user-select: none;
  color: #5f9ab7;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

input[type='checkbox']:checked  + label {
  /* background: #d3d3d3cc; */
  z-index: 100;
  -webkit-user-select: none;
  color: ##346177;
}

input[type='checkbox']:checked  + label .check-img {
  opacity: 1;
  animation: grow 0.2s;
}

@keyframes grow {
  0% { transform: scale(0.3) rotate(0deg); }
  10% { transform: scale(0.4) rotate(-30deg); }
  20% { transform: scale(0.5) rotate(30deg); }
  30% { transform: scale(0.6) rotate(0deg); }
  40% { transform: scale(0.7) rotate(30deg); }
  50% { transform: scale(0.9) rotate(-30deg); }
  60% { transform: scale(1) rotate(0deg); }
  70% { transform: scale(1.1) rotate(-30deg); }
  80% { transform: scale(1.3) rotate(30deg); }
  90% { transform: scale(1.1) rotate(0deg); }
  100% { transform: scale(1) rotate(30deg); }
}

.checkboxes {
  background-color: white;
  position: absolute;
  margin: 5px;
  margin-left: 140px;
  align-content: center;
  display: block;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 30px;
  z-index: -100;
  -webkit-user-select: none;
}

.check-img {
  width: 10%;
  margin-left: 90%;
  opacity: 0;
}

.checkbox-words {
  position: absolute;
  padding-top: 0.3%;
}

.customize-submit {
  position: absolute;
  margin-top: 40px;
  margin-left: 3%;
  width: 150px;
  height: 40px;
  background: none;
  border: solid white 1px;
  border-radius: 80px;
  color: white;
  font-size: 25px;
  font-family: 'Signika', sans-serif;
}

.customize-submit:hover {
  background-color: white;
  color: #5f9ab7;
}

#selectButton {
  width: 150px;
  height: 40px;
  background: none;
  border: solid white 1px;
  border-radius: 80px;
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: 40px;
  margin-left: -17%;
  font-family: 'Signika', sans-serif;
  outline: none;
}

#selectButton:hover {
  background-color: white;
  color: #5f9ab7;
  color: #5f9ab7;
}

.customize-btns {
  margin-right: 34%;
}

input[type='checkbox'] + label:hover {
  transform: scale(1.002);
}

.display-card {
  border: none;
  border-radius: 1em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 300px;
  padding: 15px;
  background-color: #FFFFFF;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5% 3%;
}

.download-csv {
  position: fixed;
  right: 0;
  top: 50%;
  margin: 1.5%;
  transform: translateY(-50%);
}

.download-btn {
  background: none;
  padding: 25px 10px 10px 10px;
  width: 150px;
  height: 150px;
  border: solid white 2px;
  border-radius: 80px;
  color: white;
  font-size: 25px;
  outline: none;
}

.download-btn:hover {
  background-color: white;
  color: #5f9ab7;
}

.download-text {
  padding-top: 1000px;
}

.card-text {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

.nested-display {
  padding-left: 15px;
}

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 40%;
  height: 300px;
  margin-right: 10px;
  margin-left: 2.6em;
  margin-top: -2em;
  border-radius: 5px;
  color: #c7cad0;
  font-size: 1.4em;
  counter-increment: carousel-cell;
  font-family: 'Signika', sans-serif;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}

/* selected cell */
.carousel-cell.is-selected {
  font-size: 1.6em;
  margin-top: -2.3em;
  animation: grow-selected-cell 0.4s;
}

@keyframes grow-selected-cell {
  from {
    font-size: 1.4em;
    margin-top: -2em;
  }
  to {
    font-size: 1.6em;
    margin-top: -2.3em;
  }
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #c7cad0;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #c7cad0;
}

/* no circle */
.flickity-button {
  background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

/* icon color */
.flickity-button-icon {
  fill: #4f5358d9;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.carousel-contents {
  margin-top: 10%;
  text-align: center;
}
